.~lock.*#
*.pyc
*-eps-converted-to.pdf
*.synctex.gz
*~
*-blx.bib
accountant_info
*.aux
*.backup
*.bak
*.bcf
*.bbl
*.blg
*.dtx
*.dvi
*.ins
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.ppt
*.ps
*.run.xml
*.snm
*.toc
.*.RData
*.pyc
*.Rout
*.swp
*.swo
**/data
*/tmp
**/VirtualEnv
